### 인덱서: loc와 iloc

#### 시리즈의 인덱싱과 슬라이싱

In [1]:
import pandas as pd
S = pd.Series(["A", "B", "C", "D"], index = [1, 3, 5, 7])
display(S)

1    A
3    B
5    C
7    D
dtype: object

In [2]:
display(S.loc[1]) # 인덱스가 1인 요소 출력
display(S.loc[5:7]) # 인덱스가 5부터 7인 요소 출력
display(S.loc[5]) # 인덱스가 5인 요소 출력

'A'

5    C
7    D
dtype: object

'C'

In [3]:
display(S.iloc[0]) # 0번째 위치의 요소를 출력
display(S.iloc[1:3]) # 1번째 위치부터 3번째 위치까지의 요소를 출력

'A'

3    B
5    C
dtype: object

#### 데이터프레임의 인덱싱과 슬라이싱

In [4]:
df = pd.DataFrame(
    {"A": [1, 2, 3, 4], "B": [10, 20, 30, 40], "C": [5, 6, 7, 8]}, index=[1, 3, 5, 7]
)
display(df)

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8

In [5]:
display(df.loc[1]) # 인덱스가 1인 행 출력
display(df.loc[5]) # 인덱스가 5인 행 출력
display(df.iloc[0]) # 0번째 위치에 있는 행 출력
display(df.iloc[1]) # 1번째 위치에 있는 행 출력

A     1
B    10
C     5
Name: 1, dtype: int64

A     3
B    30
C     7
Name: 5, dtype: int64

A     1
B    10
C     5
Name: 1, dtype: int64

A     2
B    20
C     6
Name: 3, dtype: int64

In [6]:
display(df.loc[1:3])
display(df.iloc[0:1])

   A   B  C
1  1  10  5
3  2  20  6

   A   B  C
1  1  10  5

In [7]:
print(df.loc[1, "A"]) # 1행 A열 출력 (명시적 인덱스 참고)
print(df.loc[3, "B"]) # 3행 B열 출력 (명시적 인덱스 참고)
print(df.iloc[0, 1]) # 0행 1열 출력 (암묵적 인덱스 참고)
print(df.iloc[1, 2]) # 1행 2열 출력 (암묵적 인덱스 참고)

1
20
10
6

#### 요소 추가

In [8]:
S.loc[9] = "E"
display(S)

1    A
3    B
5    C
7    D
9    E
dtype: object

In [9]:
df.loc[9] = [5, 50, 9]
display(df)

   A   B  C
1  1  10  5
3  2  20  6
5  3  30  7
7  4  40  8
9  5  50  9

In [10]:
S.loc[1] = "F"
display(S)

1    F
3    B
5    C
7    D
9    E
dtype: object

### 컬럼 인덱싱과 생성

In [11]:
display(df["A"]) # 딕셔너리처럼 접근
display(df.A) # 속성처럼 접근

1    1
3    2
5    3
7    4
9    5
Name: A, dtype: int64

1    1
3    2
5    3
7    4
9    5
Name: A, dtype: int64

In [12]:
df["D"] = [-1, -2, -3, -4, -5]
display(df)

   A   B  C  D
1  1  10  5 -1
3  2  20  6 -2
5  3  30  7 -3
7  4  40  8 -4
9  5  50  9 -5

In [13]:
df["E"] = [-1, -2, -3, -4]

ValueError: Length of values (4) does not match length of index (5)

In [14]:
df["E"] = 0
display(df)

   A   B  C  D  E
1  1  10  5 -1  0
3  2  20  6 -2  0
5  3  30  7 -3  0
7  4  40  8 -4  0
9  5  50  9 -5  0

In [15]:
import numpy as np
df[["D", "E"]] = np.arange(0, 10).reshape(5, 2)
display(df)

   A   B  C  D  E
1  1  10  5  0  1
3  2  20  6  2  3
5  3  30  7  4  5
7  4  40  8  6  7
9  5  50  9  8  9

### 부울 배열을 이용한 인덱싱

In [16]:
display(df[["A"]])
display(df[["A", "B"]])

   A
1  1
3  2
5  3
7  4
9  5

   A   B
1  1  10
3  2  20
5  3  30
7  4  40
9  5  50

In [17]:
cond = df["C"] % 2 == 0
display(cond)
display(df.loc[cond])

1    False
3     True
5    False
7     True
9    False
Name: C, dtype: bool

   A   B  C  D  E
3  2  20  6  2  3
7  4  40  8  6  7

In [18]:
idx1 = pd.Series([False, True, False, True, False], index = [1, 3, 5, 7, 9])
idx2 = pd.Series([False, True, False, True, False], index = [0, 1, 2, 3, 4])
idx3 = np.array([False, True, False, True, False])

In [19]:
display(df.loc[idx1])

   A   B  C  D  E
3  2  20  6  2  3
7  4  40  8  6  7

In [20]:
display(df.loc[idx2])

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [21]:
display(df.loc[idx3])

   A   B  C  D  E
3  2  20  6  2  3
7  4  40  8  6  7

In [22]:
display(df.loc[df["A"] <= 3, ["A", "C"]])

   A  C
1  1  5
3  2  6
5  3  7

In [23]:
display(df["B"].isin([30, 20]))

1    False
3     True
5     True
7    False
9    False
Name: B, dtype: bool

In [24]:
display(df.loc[df["B"].isin([30, 20])])

   A   B  C  D  E
3  2  20  6  2  3
5  3  30  7  4  5