### 인덱스 중심의 연산

In [1]:
import pandas as pd
s1 = pd.Series([1,2,3,4], index = [1,2,3,4])
s2 = pd.Series([4,3,2,1], index = [4,3,2,1])

In [2]:
display(s1 - s2)

1    0
2    0
3    0
4    0
dtype: int64

In [3]:
s1 = pd.Series([1,2,3,4], index = [1,2,3,4])
s2 = pd.Series([4,3,2,1], index = [5,6,7,8])
result = s1 - s2
display(result)

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
dtype: float64

In [4]:
display(s1.values - s2.values)

array([-3, -1,  1,  3], dtype=int64)

In [5]:
df = pd.DataFrame({"A": [1, 2, 3, 4], "B": [5, 6, 7, 8]})
df["C"] = df["A"] + df["B"]
display(df)

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [6]:
df["C"] = df["C"] / 2
display(df["C"])

0    3.0
1    4.0
2    5.0
3    6.0
Name: C, dtype: float64

### apply 메서드

In [7]:
def square(x):
    return x**2

display(df["A"].apply(square))

0     1
1     4
2     9
3    16
Name: A, dtype: int64