### 문자열 자료형과 str 접근자

In [1]:
import pandas as pd
df = pd.read_csv("../../데이터/판다스/주가리포트_샘플.txt", sep = "\t", encoding = "euc-kr")
display(df.head())

      종목명                       리포트제목    적정가격      의견       증권사          날짜
0  SK하이닉스           리스크 관리가 좀더 필요한 시점  120000  매수(유지)    하이투자증권  2021-10-15
1     솔루엠                   수주잔고가 쌓인다   28000  매수(유지)    하이투자증권  2021-10-15
2    유한양행       높아진 성공 가능성 할인보다 할증 요소   90000  매수(유지)      키움증권  2021-10-15
3  코스모신소재                  증설은 곧 성장이다       -       -      키움증권  2021-10-15
4     넷마블  올해까지 실적으론 고평가, 내년 실적부턴 저평가  145000      매수  이베스트투자증권  2021-10-15

#### contains 메서드

In [2]:
display(df["의견"].str.contains("매수"))

0        True
1        True
2        True
3       False
4        True
        ...
1572     True
1573     True
1574     True
1575     True
1576    False
Name: 의견, Length: 1577, dtype: bool

In [3]:
display(df.loc[df["의견"].str.contains("매수")])

,종목명,리포트제목,적정가격,의견,증권사,날짜
0,SK하이닉스,리스크 관리가 좀더 필요한 시점,120000,매수(유지),하이투자증권,2021-10-15
1,솔루엠,수주잔고가 쌓인다,28000,매수(유지),하이투자증권,2021-10-15
2,유한양행,높아진 성공 가능성 할인보다 할증 요소,90000,매수(유지),키움증권,2021-10-15
4,넷마블,"올해까지 실적으론 고평가, 내년 실적부턴 저평가",145000,매수,이베스트투자증권,2021-10-15
5,현대해상,보험손익 개선이 호실적을 지속 견인,35000,매수(유지),이베스트투자증권,2021-10-15
...,...,...,...,...,...,...
1571,F&F,"MLB, 중국인의 마음을 저격하다",200000,매수,하나금융투자,2021-04-22
1572,우리금융지주,경상 수익성을 레벨업 시킨 top-line 개선,12500,매수,하나금융투자,2021-04-22
1573,엔씨소프트,"1Q21 Preview, 리니지M, 블소2",1200000,매수(유지),유안타증권,2021-04-22
1574,NAVER,"1Q21 Preview, 쿠팡, LINE, 제페토",550000,매수(유지),유안타증권,2021-04-22
1575,카카오,"1Q21 preview, 카카오 모빌리티, 두나무",135000,매수(유지),유안타증권,2021-04-22

#### replace 메서드

In [4]:
df["의견"] = df["의견"].str.replace("Neutral", "중립")
display(df['의견'].value_counts())

매수(유지)        707
-             420
매수            379
Hold           31
중립             29
OutPerform      8
신규매수            2
시장수익률           1
Name: 의견, dtype: int64

#### slice 메서드

In [8]:
display(df["날짜"].str.slice(0, 4))

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
1572    2021
1573    2021
1574    2021
1575    2021
1576    2021
Name: 날짜, Length: 1577, dtype: object

In [12]:
display(df["날짜"].str.slice(4))

0       -10-15
1       -10-15
2       -10-15
3       -10-15
4       -10-15
         ...
1572    -04-22
1573    -04-22
1574    -04-22
1575    -04-22
1576    -04-22
Name: 날짜, Length: 1577, dtype: object

#### split 메서드

In [6]:
display(df["날짜"].str.split("-"))

0       [2021, 10, 15]
1       [2021, 10, 15]
2       [2021, 10, 15]
3       [2021, 10, 15]
4       [2021, 10, 15]
             ...
1572    [2021, 04, 22]
1573    [2021, 04, 22]
1574    [2021, 04, 22]
1575    [2021, 04, 22]
1576    [2021, 04, 22]
Name: 날짜, Length: 1577, dtype: object

In [13]:
display(df["날짜"].str.split("-", expand = True))

         0   1   2
0     2021  10  15
1     2021  10  15
2     2021  10  15
3     2021  10  15
4     2021  10  15
...    ...  ..  ..
1572  2021  04  22
1573  2021  04  22
1574  2021  04  22
1575  2021  04  22
1576  2021  04  22

[1577 rows x 3 columns]

In [8]:
df[["연", "월", "일"]] = df["날짜"].str.split("-", expand = True)
display(df.head())

,종목명,리포트제목,적정가격,의견,증권사,날짜,연,월,일
0,SK하이닉스,리스크 관리가 좀더 필요한 시점,120000,매수(유지),하이투자증권,2021-10-15,2021,10,15
1,솔루엠,수주잔고가 쌓인다,28000,매수(유지),하이투자증권,2021-10-15,2021,10,15
2,유한양행,높아진 성공 가능성 할인보다 할증 요소,90000,매수(유지),키움증권,2021-10-15,2021,10,15
3,코스모신소재,증설은 곧 성장이다,-,-,키움증권,2021-10-15,2021,10,15
4,넷마블,"올해까지 실적으론 고평가, 내년 실적부턴 저평가",145000,매수,이베스트투자증권,2021-10-15,2021,10,15

### 날짜 자료형

In [9]:
a = pd.to_datetime("2020")
b = pd.to_datetime("2020-01")
c = pd.to_datetime("2020-01-03")
d = pd.to_datetime("2020-01-03 13")
e = pd.to_datetime("2020-01-03 13:30")
f = pd.to_datetime("2020-01-03 13:30:20")
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

2020-01-01 00:00:00
2020-01-01 00:00:00
2020-01-03 00:00:00
2020-01-03 13:00:00
2020-01-03 13:30:00
2020-01-03 13:30:20

In [10]:
print(c.year) # 연도
print(c.month) # 월
print(c.day) # 일
print(c.hour) # 시
print(c.minute) # 분
print(c.second) # 초

2020
1
3
0
0
0

#### 날짜 연산

In [11]:
a = pd.to_datetime("2020-01-03")
b = pd.to_datetime("2020-01-05")
print(b - a)

2 days 00:00:00

In [12]:
five_day = pd.to_timedelta(5, "D") # 5일
five_hours = pd.to_timedelta(5, "h") # 5시간
five_minutes = pd.to_timedelta(5, "m") # 5분
five_seconds = pd.to_timedelta(5, "s") # 5초

In [13]:
print(a - five_day) # a에서 5일전
print(a + five_hours) # a에서 5시간 후
print(a + five_minutes) # a에서 5분 후
print(a - five_seconds) # a에서 5초 전

2019-12-29 00:00:00
2020-01-03 05:00:00
2020-01-03 00:05:00
2020-01-02 23:59:55

#### 시리즈에서 날짜 자료형

In [14]:
print(df["날짜"].dtype)

object

In [15]:
df["날짜"] = pd.to_datetime(df["날짜"]) # 날짜 자료형으로 변경
print(df["날짜"].dtype)

datetime64[ns]

In [16]:
df["dt_년"] = df["날짜"].dt.year # dt 접근자로 year 가져오기
df["dt_월"] = df["날짜"].dt.month # dt 접근자로 month 가져오기
df["dt_일"] = df["날짜"].dt.day # dt 접근자로 day 가져오기
display(df[["연", "월", "일", "dt_년", "dt_월", "dt_일"]].head())

      연   월   일  dt_년  dt_월  dt_일
0  2021  10  15  2021    10    15
1  2021  10  15  2021    10    15
2  2021  10  15  2021    10    15
3  2021  10  15  2021    10    15
4  2021  10  15  2021    10    15

In [17]:
display(df[["연", "월", "일", "dt_년", "dt_월", "dt_일"]].dtypes)

연       object
월       object
일       object
dt_년     int64
dt_월     int64
dt_일     int64
dtype: object

In [18]:
display(df['날짜'].head())
df["날짜"] = df["날짜"] + pd.to_timedelta(1, "D")
display(df['날짜'].head())

0   2021-10-15
1   2021-10-15
2   2021-10-15
3   2021-10-15
4   2021-10-15
Name: 날짜, dtype: datetime64[ns]

0   2021-10-16
1   2021-10-16
2   2021-10-16
3   2021-10-16
4   2021-10-16
Name: 날짜, dtype: datetime64[ns]